<div>
<table name="table" id="forum-0" width="150px">
    <caption>Forum&nbsp;List&nbsp;1:</caption>
    <tr>
        <td><a href="/forum/4">CATEGORY 1</a></td>
    </tr>
    <tr>
        <td><a href="/forum/5">CATEGORY 2</a></td>
    </tr>
    <tr>
        <td> <a href="/forum/6">CATEGORY 3</a></td>
    </tr>
    <tr>
        <td> <a href="/forum/8">CATEGORY 4</a></td>
    </tr>
</table>

<table name="table" id="forum-0" width="200px">
    <caption>CATEGORY&nbsp;1:</caption>
    <tr>
        <td><a href="/forum/4">LIST 1</a></td>
    </tr>
    <tr>
        <td><a href="/forum/5">LIST 2</a></td>
    </tr>
    <tr>
        <td> <a href="/forum/6">LIST 3</a></td>
    </tr>
    <tr>
        <td> <a href="/forum/8">LIST 4</a></td>
    </tr>
</table>
<!---
<table name="table" id="forum-0" width="150px">
    <caption>Forum&nbsp;List&nbsp;3:</caption>
    <tr>
        <td><a href="/forum/4">Drupal</a></td>
    </tr>
    <tr>
        <td><a href="/forum/5">Wordpress</a></td>
    </tr>
    <tr>
        <td> <a href="/forum/6">Joomla</a></td>
    </tr>
    <tr>
        <td> <a href="/forum/8">codeIgniter</a></td>
    </tr>
</table> -->
</div>