<h1>
    <a href="/page2">Pope Visited Philippines.</a>
</h1>
<p>
    Some six million worshippers are expected to attend Pope Francis's Sunday Mass at Manila's Rizal Park.
</p>
<p>
    On the final full day of his visit to the Philippines, Pope Francis said “the family all too often needs to be protected against insidious attacks and programs contrary to all that we hold true and sacred.” The remarks referred, in part, to a 2012 law in the Philippines that expanded the availability of birth control—a move that came despite fierce resistance from the Filipino church.

    “We need to see each child as a gift to be welcomed, cherished and protected,” he said. “And we need to care for our young people, not allowing them to be robbed of hope and condemned to life on the streets.”
</p>

<p>
    MANILA— Pope Francis wrapped up a week-long tour of Asia here with a rousing Mass, attended by millions, on a day in which he addressed the issues of climate change and population control—two sensitive topics in a country with high birthrates and one that is vulnerable to natural disaster.

    On the final full day of his visit to the Philippines, Pope Francis said “the family all too often needs to be protected against insidious attacks and programs contrary to all that we hold true and sacred.” The remarks referred, in part, to a 2012 law in the Philippines that expanded the availability of birth control—a move that came despite fierce resistance from the Filipino church.

    “We need to see each child as a gift to be welcomed, cherished and protected,” he said. “And we need to care for our young people, not allowing them to be robbed of hope and condemned to life on the streets.”

    Sunday was the final full day of a five-day visit to the Philippines, which culminated in the huge Mass in Manila’s Rizal Park, with millions in attendance. The pope arrived in Manila on Thursday, following a visit to Sri Lanka. He will return to Rome on Monday, concluding his second tour of Asia as pope.
</p>

<!--My ID : <a href="{{ home }}">{{ myid }}</a>-->
