<h1>
    Beaches in the Philippines.
</h1>
<br>
<h3>
    Boracay
</h3>
<p>

        -   is a jewel in the Visayas. In fact to many, it is more than a jewel, it is the ultimate place to go to relax and unwind or to experience culture and a tropical island like no other in the world.
    It is a big statement I know, but Boracay Philippines will captivate you and entice you into it’s secrets so that you will never be able to let go. The day you leave Boracay, you will vow to come back and like so many before you, coming back is exactly what you will do.
</p>
<h3>
    Pagudpud
</h3>
<p>

        - In the Northern part of the Philippines is a beach reputed to have the longest contiguous white sand with mighty waves and strong winds that can compare to Hawaii. Wind and wave surfing are the outstanding activities that Pagudpud
    beach offers its very discriminating clientele. Not to mention the inviting views, clear blue waters, and white sand. Pagudpud promises its visitors a magnificent experience in a secluded paradise.</p>

<h3>
    Panglao
</h3>
<p>

        -  is a perfect for a great dive and beach holiday. It is a small island on the Philippines southwest
    of the bigger island, Bohol. On the southern beach of Panglao there are several resorts that line up on the beach.
</p>


