<div>Registration</div>
<hr>


<script>
    $(function(){
            $("#edit-photo-upload").change(function() {
                //alert("this is alert!");
              setTimeout(function(){
              location.reload();
              },500);


                //alert( $("span.file").length );
            });

    });
</script>

<div class="photo"><img id="photo-id" src="{{ url_photo }}" style="width:100px; height:100px;"></div>


<div id="register-form">{{ form }}</div>

